In [28]:
# Tuple Defination

tup = (10,20,30)
print(type(tup))
tup.count(10)

<class 'tuple'>

1

In [29]:
tup.index(10)

0

In [30]:
# tuple indexing and slicing

tup = (10,20,30,[40,50,(30,40,(60,70,80))])

In [31]:
# Example :
# o/p: 70,80
print(*tup[3][2][2][1:])

70 80

In [19]:
lst = [10,[100,200,300,[400,[500,[[[600,700,800,900,1000,1100,1200],700],1],10],20]]]
lst[1][3][1][1][0][0][2:5]
lst[1][3][1][1][0][0][:6][0]

600

In [18]:
lst = [10,[100,200,300,[400,[500,[[[600,700,800,900,1000,1100,1200],700],1],10],20]]]
lst[1][3][1][1][0][0][2:5]
lst[1][3][1][1][0][0][:6][1]

700

In [17]:
lst = [10,[100,200,300,[400,[500,[[[600,700,800,900,1000,1100,1200],700],1],10],20]]]
lst[1][3][1][1][0][0][2:5]
lst[1][3][1][1][0][0][:6][2]

800

In [16]:
lst = [10,[100,200,300,[400,[500,[[[600,700,800,900,1000,1100,1200],700],1],10],20]]]
lst[1][3][1][1][0][0][2:5]
lst[1][3][1][1][0][0][:6][3]

900

In [15]:
lst = [10,[100,200,300,[400,[500,[[[600,700,800,900,1000,1100,1200],700],1],10],20]]]
lst[1][3][1][1][0][0][2:5]
lst[1][3][1][1][0][0][:5][4]

1000

In [11]:
lst = [10,[100,200,300,[400,[500,[[[600,700,800,900,1000,1100,1200],700],1],10],20]]]
lst[1][3][1][1][0][0][2:5]
lst[1][3][1][1][0][0][:6][5]

1100

In [14]:
lst = [10,[100,200,300,[400,[500,[[[600,700,800,900,1000,1100,1200],700],1],10],20]]]
lst[1][3][1][1][0][0][2:5]
lst[1][3][1][1][0][0][:7][6]

1200

In [32]:
# Cnditional Statement
''' 
if condition==True
   Perform inside the loop
else:
   perform this operation 

Note : = : Assingnment Operator
      == : Comparison Operation
'''

num = 10

if num == 10:
      print('The value is 10')
else:
      print('The Value is other than 10')

The value is 10

In [ ]:
# check the given string is Palindrom or not

text = 'dad'
text = text [::-1]

if text == text1:
    print('The give string is palindrom')
else:
    print('The given string is Not a Palindrom')

In [ ]:
'''
if conditon:
  statment
  elif condition:
    stateemnt
else:
  Statement    
'''

In [ ]:
''' 
mark > 80 : Best Student
mark between 60 to 79 : Good Student
Mark between 50 to 59 : average Student
Mark< 49 : Poor student
'''
marks = float(input('Enter marks of the Student'))

if marks >= 80:

  print('Best Student')
elif marks < 80 and marks >60:
  print('Good Student')
elif marks <60 and marks >50:
     print('Average Student')
else:
   print('poor Student')

Average Student

In [3]:
balance = 10000
threshold = 2000
withdraw = float(input('Enter the Amount to withdraw: '))

if withdraw >= balance:
    print('Insufficient Balance')
else:
    new_balance = balance - withdraw
    if new_balance >= threshold:
        print('New Balance is', new_balance)
    else:
        print('Check Your Transaction')

New Balance is 2000.0

In [6]:
balance = 20000
threshold = 6000
withdraw = float(input('Enter the Amount to withdraw: '))

if withdraw >= balance:
    print('Insufficient Balance')
else:
    new_balance = balance - withdraw
    if new_balance >= threshold:
        print('New Balance is', new_balance)
    else:
        print('Check Your Transaction')

New Balance is 6000.0

In [5]:
# For Loop
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [4]:
'''
*
**
***
****
*****

'''

for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [6]:
for i in range(1,6):
    print('*'*i*i)

*
****
*********
****************
*************************

In [4]:
for i in range(1,8):
    print('*'*i*i)

*
****
*********
****************
*************************
************************************
*************************************************

In [3]:
for i in range(1,10):
    print('*'*i*i)

*
****
*********
****************
*************************
************************************
*************************************************
****************************************************************
*********************************************************************************

In [7]:
for i in range(1,11):
    print('*'*i*i)

*
****
*********
****************
*************************
************************************
*************************************************
****************************************************************
*********************************************************************************
****************************************************************************************************

In [9]:
for i in range(1,12):
    print('*'*i*i)

*
****
*********
****************
*************************
************************************
*************************************************
****************************************************************
*********************************************************************************
****************************************************************************************************
*************************************************************************************************************************

In [10]:
for i in range(1,13):
    print('*'*i*i)

*
****
*********
****************
*************************
************************************
*************************************************
****************************************************************
*********************************************************************************
****************************************************************************************************
*************************************************************************************************************************
************************************************************************************************************************************************

In [2]:
num1 = float(input('Enter first num1:'))
num2 = float(input("Enter second num2: "))
choice = input("Enter choice(+, -, *, /): ")

if choice == '+':
    num3= num1+num2
    print(f'the Addition of {num1} and {num2}',num3)
elif choice == '-':
    num3= num1-num2
    print(f'the Substraction of {num1} and {num2}',num3)
else:
    print('Please check the choice')

Please check the choice

In [5]:
# For Loop 
list = []
for i in range (0,10):
    list.append(i*i)
    print(list)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
# List Comprehension
# v
Square = [i*i for i in range(0,10)]
Square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
odd = [i%2 == 1 for i in range(0,10)]
odd

[False, True, False, True, False, True, False, True, False, True]

In [11]:
Square = [i**2 for i in range(0,10)]
Square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
lst = ['Aniket','Parage','Ajay','Mihir','Nikhil','Tanvi']
new_list = [lst.upper() for lst in lst]
new_list

['ANIKET', 'PARAGE', 'AJAY', 'MIHIR', 'NIKHIL', 'TANVI']

In [14]:
new_list = [lst.lower() for lst in lst]
new_list

['aniket', 'parage', 'ajay', 'mihir', 'nikhil', 'tanvi']

In [15]:
new_list = [len(lst) for lst in lst]
new_list

[6, 6, 4, 5, 6, 5]

In [16]:
new_list = sum([len(lst)for lst in lst])
new_list

32

In [17]:
new_list = max([len(lst)for lst in lst])
new_list

6

In [18]:
new_list = min([len(lst)for lst in lst])
new_list

4

In [27]:
#Logic: 0 1 3 5 7 9: sum : 20
n = sum([x for x in range(0,10) if x % 2 == 0])
n

20

In [ ]:
#Logic: 0 2 4 6 8: sum : 25
n = sum([x for x in range(0,10) if x % 2 != 0])
n

25

In [35]:
import math
math.factorial(5)

120

In [39]:
# Square root
print (5**0.5)
print(math.sqrt(5))

2.23606797749979
2.23606797749979

In [37]:
math.pow(2,2)

4.0

In [40]:
print(math.log10(5))

0.6989700043360189

In [2]:
import math
import os
import datetime

In [ ]:
# define function

def sum(): # sum() function definition.
    print('HELLO WORLD')

ans = sum()  # sum() function calling and storing in variable ans.

HELLO WORLD

In [12]:
def sum(num1,num2):
    num3 = num1 + num2
    print(f'The addition of two numbers {num1} and {num2} is',num3)

ans = sum(100,200)

The addition of two numbers 100 and 200 is 300

In [23]:
num1 = float(input('Enter the first number:'))
num2 = float(input('Enter the second number'))

def sum(num1,num2):
    num3 = num1 + num2
    print(f'The addition of two number {num1} and {num2} is',num3)

def mul(num1,num2):
    num3 = num1 * num2
    print(f'The multiplication of two numbers {num1} and {num2} is',num3)

addition = sum(num1,num2)
multiplication = mul(num1,num2)

The addition of two number 10.0 and 20.0 is 30.0
The multiplication of two numbers 10.0 and 20.0 is 200.0

In [24]:
num1 = float(input('Enter the first number:'))
num2 = float(input('Enter the second number'))

def sum(num1,num2):
    num3 = num1 + num2
    print(f'The addition of two number {num1} and {num2} is',num3)

def mul(num1,num2):
    num4 = num1 * num2
    print(f'The multiplication of two numbers {num1} and {num2} is',num4)
    return num4

addition = sum(num1,num2)
multiplication = mul(num1,num2)

The addition of two number 10.0 and 20.0 is 30.0
The multiplication of two numbers 10.0 and 20.0 is 200.0

In [25]:
multiplication

200.0

In [28]:
def check_palindrome(word):
    word_cleaned = word.lower().replace(" ", "")
    reversed_word = word_cleaned[::-1]
    
    if word_cleaned == reversed_word:
        print(f"'{word}' is a palindrome")
    else:
        print(f"'{word}' is not a palindrome")

# taking input from user
text = input("Enter a word or sentence: ")
check_palindrome(text)

'mom' is a palindrome

In [32]:
'''  
Palindrom :
MOM = MOM
'''

text = input('Enter the string: ')
text1 = text[::-1]

def pal(text):
    if text == text:
        print("The given is string is a palindrome")
    else:
        print("The given string is not a palindrome")

pal(text)

The given is string is a palindrome

In [ ]:
'''
balance = 10000
withdraw = Ask User
Theshold balance = 2000

 create function def transation 

'''
balance =10000
threshold = 2000
withdraw = float(input('Ask User: '))

if withdraw >= balance:
    print('Insufficient Balance')
else:
    new_balance = balance - withdraw
    if new_balance >= threshold:
        print('User Current Balance is', new_balance)
    else:
        print('def transation')

User Current Balance is 4000.0

In [ ]:
'''  
CGPA >= 8 : Bright
CGPA between 6.9 to 7.9: Moderate Student
CGPA =< 6.8 : Weak Student 
'''
CGPA >= 8
CGPA

if CGPA >= CGPA:
    print()

In [4]:
CGPA = float(input('Enter CGPA: '))

def compute(CGPA):
    if CGPA >= 8:
        print("Bright Student") 
    elif 6.9 <= CGPA <= 7.9:
        print("Moderate Student")
    else:
        print("Weak Student")

compute(CGPA)

Bright Student

In [1]:
text = input('Enter the Text:')

text = text[::-1]

def palindrom(text):
    text1 = text[::-1]
    if text == text1:
        print('The given string is palindrom.')
    else:
        print('The given string is not a palindrom')

palindrom(text)  #calling a function
                 # Palindrom = Reading the word from right or left and left to right.

The given string is palindrom.

In [6]:
# Recurssive Function
# 5! = 5*4*3*2*1 = 120
def factorial (n):
    if n == 0 or n == 1:
        return 1 # base case
    else:
        return n * factorial(n-1)
factorial(5)

120

In [1]:
lst = [1,2,3]
type(lst)

list

In [4]:
lst.append

In [5]:
# OOP: Object Oriented Programming

class ClassName:
    i = 12345

x = ClassName()
x.i

12345

In [7]:
class complex:# ClassName: Complex
    def __init__(self,real,img):  # Constructor Method
        self.r = real             # Attribute
        self.i = img              # Attribute

x = complex(10,10) # x is an object of class complex
x.r # calling Attribute using Dot Operator with the help of object x
x.i # calling Attribute using Dot Operator with the help of object x
print(x.r,'+',x.i,'j')

10 + 10 j

In [ ]:
class addition:
    def __init__(self):
        self.num1 = 100
        self.num2 = 200
    def sum(self):
        num3 = self.num1 + self.num2
        return num3

a = addition()
a.sum()

300

In [18]:
class Bank:
    def __init__(self):
        self.balance = 10000
        self.threshold = 2000

    def trans(self):
        withdraw_amount = float(input('Enter the withdraw amount: '))
        if withdraw_amount > self.balance:
            print('Insufficient Balance')
        else:
            new_balance = self.balance - withdraw_amount
            if new_balance >= self.threshold:
                print('New Balance is', new_balance)
            else:
                print('Check Your Transaction, Once Again')

T = Bank()
T.trans()

New Balance is 4000.0