### Introduction to python programming 2

In [1]:
# Tuple Defination

tup = (10,20,30,40)
print(type(tuple))
tup.count(10)

<class 'type'>

1

In [2]:
tup.index(10)

0

In [3]:
# Tuple Indexing and Slicing

tup = (10,20,30,[40,50,(30,40,(60,70,80))])

# Example

# O/P : 70,80

output=tup[3][2][2][1:]
print(*output)

70 80

In [4]:
# Condtitonal Statement

''' 

if condtition == True:
   Perform Operation inside the loop
else:
   perform this operation

Note: = : Assignment Operator
      ==: Comparison Operator  

'''

num = 10

if num == 10:

    print('The value is 10')
else:
    print('The Value is other than 10')

The value is 10

In [5]:
# Check the given string is palindrom or not

text = 'dad'
text1 = text[::-1]


if text == text1:
   print('The Given String is Palindrom') 
else:
   print('The Given String is Not a Palindrom')

The Given String is Palindrom

In [8]:
'''  
if condition:
    statement
elif condtiton:
else:
    statement     
'''


'''
marks > 80  : Best Student
Marks between 60 to 79 : Good Student
Marks between 50 to 59 : Average Student
Marks < 49 : Poor Student

'''
marks = float (input('Enter Marks  of the Student:'))

if (marks > 80):
    print('Bright Student')
elif (marks < 80 and marks > 60):
    print('Good Student')
elif (marks < 60 and marks > 50):
    print('Average Student')
else:
    print('Poor Student')

Bright Student

In [9]:
'''
Balance = 10000
Withdraw = amount
threshould value = 2000

'''

balance = 10000
threshold = 2000
withdraw = float(input('Enter the Amount to Withdraw: '))

if withdraw >= balance:
    print('Insufficient Balance')
if withdraw <= balance:
        new_balance = balance - withdraw
        if new_balance >= 2000:
            print('New Balance is ',new_balance)
        else:
            print('Check Your Transaction')

New Balance is  2000.0

In [10]:
# For Loop

for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [12]:
'''
*
**
***
****
*****

'''

for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [13]:
for i in range(1,6):
    print('*'*i*i)

*
****
*********
****************
*************************